# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [ ]:
import pandas as pd
import numpy as np

anos = ['1900', '1920', '1940', '1960', '1980', '2000', '2020']
temp = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

In [13]:
temp_anual = pd.Series(data=temp)
temp_anual

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [14]:
temp_anual = pd.Series(data=temp, index=anos)
temp_anual

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

In [9]:
temp_anual.index

Index(['1900', '1920', '1940', '1960', '1980', '2000', '2020'], dtype='object')

In [10]:
temp_anual['1920' :'2000']

1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [12]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}


temp_anual_dic = pd.Series(dic_temperaturas)
temp_anual_dic

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [18]:
arr = np.random.normal(100, 10, (20,3))

df = pd.DataFrame(arr)
df

             0           1           2
0   110.789765   84.483973  101.661489
1   103.427332  116.277665   97.701542
2    92.014132  123.466024  119.396388
3   103.163987   92.058197   95.884918
4   100.772128  109.410098  103.041224
5   113.045167  117.096190   94.525864
6    96.955389  106.314873  100.774120
7   105.725852  115.044377  109.830136
8    96.364260   82.805740  102.601516
9    87.479821   90.252855  101.779138
10   89.862480  102.803694  105.924383
11  106.602845  103.504232  115.829293
12   98.038595   90.710254   96.135828
13  100.393436   94.557099   91.310979
14   87.868336   96.609926  117.290913
15  113.459588  101.939838  116.815313
16  113.062693  105.969058  109.675500
17   93.207697   88.185219  102.134668
18   95.031025   98.140453  100.417430
19  119.255686  100.500465   86.958528

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [20]:
indices_x = ['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10','x11','x12','x13','x14','x15','x16','x17','x18','x19','x20']

df = pd.DataFrame(arr, index=indices_x)
df

              0           1           2
x1   110.789765   84.483973  101.661489
x2   103.427332  116.277665   97.701542
x3    92.014132  123.466024  119.396388
x4   103.163987   92.058197   95.884918
x5   100.772128  109.410098  103.041224
x6   113.045167  117.096190   94.525864
x7    96.955389  106.314873  100.774120
x8   105.725852  115.044377  109.830136
x9    96.364260   82.805740  102.601516
x10   87.479821   90.252855  101.779138
x11   89.862480  102.803694  105.924383
x12  106.602845  103.504232  115.829293
x13   98.038595   90.710254   96.135828
x14  100.393436   94.557099   91.310979
x15   87.868336   96.609926  117.290913
x16  113.459588  101.939838  116.815313
x17  113.062693  105.969058  109.675500
x18   93.207697   88.185219  102.134668
x19   95.031025   98.140453  100.417430
x20  119.255686  100.500465   86.958528

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [21]:
df['media'] = (df[0] + df[1] + df[2])/3
df

              0           1           2       media
x1   110.789765   84.483973  101.661489   98.978409
x2   103.427332  116.277665   97.701542  105.802180
x3    92.014132  123.466024  119.396388  111.625515
x4   103.163987   92.058197   95.884918   97.035701
x5   100.772128  109.410098  103.041224  104.407817
x6   113.045167  117.096190   94.525864  108.222407
x7    96.955389  106.314873  100.774120  101.348127
x8   105.725852  115.044377  109.830136  110.200122
x9    96.364260   82.805740  102.601516   93.923838
x10   87.479821   90.252855  101.779138   93.170605
x11   89.862480  102.803694  105.924383   99.530185
x12  106.602845  103.504232  115.829293  108.645457
x13   98.038595   90.710254   96.135828   94.961559
x14  100.393436   94.557099   91.310979   95.420505
x15   87.868336   96.609926  117.290913  100.589725
x16  113.459588  101.939838  116.815313  110.738246
x17  113.062693  105.969058  109.675500  109.569083
x18   93.207697   88.185219  102.134668   94.509195
x19   95.031025   98.140453  100.417430   97.862970
x20  119.255686  100.500465   86.958528  102.238226

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [22]:
df['log_med'] = np.log(df['media'])
df

              0           1           2       media   log_med
x1   110.789765   84.483973  101.661489   98.978409  4.594902
x2   103.427332  116.277665   97.701542  105.802180  4.661571
x3    92.014132  123.466024  119.396388  111.625515  4.715150
x4   103.163987   92.058197   95.884918   97.035701  4.575079
x5   100.772128  109.410098  103.041224  104.407817  4.648305
x6   113.045167  117.096190   94.525864  108.222407  4.684188
x7    96.955389  106.314873  100.774120  101.348127  4.618561
x8   105.725852  115.044377  109.830136  110.200122  4.702298
x9    96.364260   82.805740  102.601516   93.923838  4.542484
x10   87.479821   90.252855  101.779138   93.170605  4.534432
x11   89.862480  102.803694  105.924383   99.530185  4.600461
x12  106.602845  103.504232  115.829293  108.645457  4.688090
x13   98.038595   90.710254   96.135828   94.961559  4.553472
x14  100.393436   94.557099   91.310979   95.420505  4.558293
x15   87.868336   96.609926  117.290913  100.589725  4.611050
x16  113.459588  101.939838  116.815313  110.738246  4.707169
x17  113.062693  105.969058  109.675500  109.569083  4.696555
x18   93.207697   88.185219  102.134668   94.509195  4.548697
x19   95.031025   98.140453  100.417430   97.862970  4.583568
x20  119.255686  100.500465   86.958528  102.238226  4.627306